################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheamDemo/TheamDemo/TheamDemo/bin/Debug/netstandard2.0
